body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #9230b9;
  color: white;
  padding: 15px;
  margin: 0;
}

#editor {
  position: fixed;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  width: 100%; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


select, button,input {
  padding: 10px;
  margin: 10px 5px;
  font-size: 1em;
}

#color{
  width: 180px;
  height: 41px;
}

#joke{
  font-size: x-small;
}

#text{
  font-size: 20px;
}